# data
ML/data/raw/
ML/data/processed/*.parquet
ML/data/processed/*.csv

# models
ML/notebooks/*/models/
submissions/

# python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.env

# system
.DS_Store

# venv
venv/
